# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 88
indent_style = space
indent_size = 4
tab_width = 4

[*.py]
indent_size = 4
tab_width = 4

[*.md]
max_line_length = 120
trim_trailing_whitespace = false

[*.json]
indent_size = 2

[*.yml]
indent_size = 2

[*.xml]
indent_size = 2

[*.html]
indent_size = 2

[*.css]
indent_size = 2

[*.js]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.{sh}]
indent_size = 4

[*.{sql}]
indent_size = 2

[*.{csv}]
indent_size = 1